&nbsp;
<!-- table zigbeedevices search -->
<!-- results -->
[#if RESULT#]
<!-- paging -->
<!-- / paging -->
<!-- search results (list) -->
<script type="text/javascript">
 let deviceTimer=0;
 let totalDevices=0;
 function reloadDeviceData() {
  let url="?ajax=1&search=[#SEARCH_URL#]";
  $.ajax({
   url: url
  }).done(function(data) {
   if (typeof data == 'object') {
    for(let i=0;i<data.length;i++) {
     $('#dev'+data[i].ID+'_updated').html(data[i].UPDATED);
     $('#dev'+data[i].ID+'_data').html(data[i].DATA);
    }
    if (totalDevices==0) {
     totalDevices = data.length;
    } else {
     if (totalDevices!=data.length) {
      let url="?search=[#SEARCH_URL#]";
      window.location.href=url;
     }
    }
   }
   deviceTimer=setTimeout('reloadDeviceData();',2000);
  });
 }
 $(document).ready(function() {
  deviceTimer=setTimeout('reloadDeviceData();',2000);
 });
</script>
<table  class="table table-striped">
 <thead>
 <tr>
  <th></th>
  <th nowrap><a href="?search=[#SEARCH_URL#]&sort_type=description&&sort_dir=[#if SORT_TYPE="description" && SORT_DIR!="desc"#]desc[#else#]asc[#endif#]"><#LANG_DESCRIPTION#></a>
   [#if SORT_TYPE="description"#][#if SORT_DIR="desc"#]&darr;[#else#]&uarr;[#endif#][#endif#]
  </th>
  <th nowrap><a href="?search=[#SEARCH_URL#]&sort_type=title&&sort_dir=[#if SORT_TYPE="title" && SORT_DIR!="desc"#]desc[#else#]asc[#endif#]"><#LANG_TITLE#></a>
   [#if SORT_TYPE="title"#][#if SORT_DIR="desc"#]&darr;[#else#]&uarr;[#endif#][#endif#]
  </th>
  <th nowrap><a href="?search=[#SEARCH_URL#]&sort_type=model&&sort_dir=[#if SORT_TYPE="model" && SORT_DIR!="desc"#]desc[#else#]asc[#endif#]">Model name</a>
   [#if SORT_TYPE="model"#][#if SORT_DIR="desc"#]&darr;[#else#]&uarr;[#endif#][#endif#]
  </th>
  <th>Online</th>
  <th nowrap><a href="?search=[#SEARCH_URL#]&sort_type=battery&&sort_dir=[#if SORT_TYPE="battery" && SORT_DIR!="desc"#]desc[#else#]asc[#endif#]">Battery</a>
   [#if SORT_TYPE="battery"#][#if SORT_DIR="desc"#]&darr;[#else#]&uarr;[#endif#][#endif#]
  </th>
  <th><#LANG_DATA#></th>
  <th nowrap><a href="?search=[#SEARCH_URL#]&sort_type=updated&&sort_dir=[#if SORT_TYPE="updated" && SORT_DIR!="desc"#]desc[#else#]asc[#endif#]"><#LANG_UPDATED#></a>
   [#if SORT_TYPE="updated"#][#if SORT_DIR="desc"#]&darr;[#else#]&uarr;[#endif#][#endif#]
  </th>
  <th>&nbsp;</th>
 </tr>
 </thead>
<tbody>
[#begin RESULT#]
<tr>
 <td style="vertical-align:middle">
  [#if MODEL!=""#]<a href="https://www.zigbee2mqtt.io/devices/[#MODEL#].html" target="_blank">[#endif#]
   <img src="https://www.zigbee2mqtt.io/images/devices/[#MODEL#].jpg" height="30px" onerror="this.src='../img/modules/zigbeedev.png'" style="mix-blend-mode: multiply;">
   </a>
 </td>
 <td>
  <b>[#DESCRIPTION#]</b>
  [#if IS_HUB="1"#] (HUB)[#endif#]
 </td>
 <td>[#TITLE#]</td>
 <td>[#MODEL_NAME#]</td>
 <td class="[#availability#]">
 [#if IS_HUB!="1" && TITLE!="Coordinator" && availability!=""#]
  [#if availability=='online'#]
  <span class="label label-success">Online</span>
  [#else#]
  <span class="label label-danger">Offline</span>
  [#endif#]
 [#else#]
  n/a
 [#endif#]
 </td>
   <td class="[#BATTERY_WARN#]">
  [#if IS_BATTERY="1"#][#BATTERY_LEVEL#]%[#endif#]
 </td>
 <td id="dev[#ID#]_data">[#DATA#]</td>
 <td id="dev[#ID#]_updated">
   [#UPDATED#]
 </td>
 <td width="1%" nowrap>
  <div>
  [#if "<#ACTION#>"=="admin"#]
   <a href="?data_source=<#DATA_SOURCE#>&view_mode=edit_zigbeedevices&id=[#ID#]&tab=data" class="btn btn-default" title="Edit"><#LANG_DATA#></a>
   <a href="?data_source=<#DATA_SOURCE#>&view_mode=edit_zigbeedevices&id=[#ID#]" class="btn btn-default" title="Edit"><i class="glyphicon glyphicon-pencil"></i></a>
    <a href="?data_source=<#DATA_SOURCE#>&view_mode=delete_zigbeedevices&id=[#ID#]" onClick="return confirm('Are you sure? Please confirm.')" class="btn btn-default" title="Delete"><i class="glyphicon glyphicon-remove"></i></a>
  [#endif ACTION#]
  </div>
 </td>
</tr>
[#end RESULT#]
</tbody>
</table>
<!-- / paging -->
[#else RESULT#]
<div class="alert alert-warning">
<font color="red"><#LANG_NO_RECORDS_FOUND#></font>
</div>
[#endif RESULT#]
<!-- / results -->
